In [3]:
import pandas as pd
import pyarrow.parquet as pq
import os
import matplotlib
import numpy as np
import pickle as pkl
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
submission = pd.read_csv("solution.csv")
gtruth = pd.read_csv("trainingAnswers.csv")
gtruth = gtruth.set_index("RunID")
export_data = pd.read_csv("export.csv")
export_data = export_data.set_index("runid");

In [5]:
lst = []
for row in submission.values:
    runid = int(row[0])
    source = int(row[1])
    ti = row[2]
    if source == 0:
        dat = export_data.loc[int(runid)]
        idx = np.argmax(dat["snr"].values)
        source = int(dat.values[idx][2])
        ti = dat.values[idx][1] + dat.values[idx][3]
    lst.append([runid,source,ti])

In [8]:
dframe = pd.DataFrame(data=lst,columns=["RunID","SourceID","SourceTime"])
dframe.set_index(["RunID"],inplace=True)
dframe.to_csv("solution2.csv")

        SourceID  SourceTime
RunID
200001         5      99.000
200002         6      49.000
200003         6      92.875
200004         2     143.500
200005         3      69.625
200006         6     173.000
200007         2      64.375
200008         6      35.000
200009         6      33.625
200010         6      34.000
200011         5      30.250
200012         3      34.000
200013         3      44.000
200014         3     102.000
200015         4      72.875
200016         2      31.375
200017         6      68.000
200018         6      50.750
200019         6      48.500
200020         6      50.125
200021         5      32.875
200022         6      49.125
200023         2      36.500
200024         6     149.500
200025         3      63.000
200026         2      36.250
200027         6      38.500
200028         4     236.625
200029         6      34.500
200030         3      34.625
...          ...         ...
215811         6      38.250
215812         3      55.750
215813         5     117.125
215814         6      33.125
215815         2      51.125
215816         2      36.000
215817         6      36.250
215818         6      47.750
215819         3      50.500
215820         5     606.750
215821         6      87.500
215822         5      40.875
215823         6      70.375
215824         3      35.000
215825         6     147.000
215826         6      46.500
215827         6      42.000
215828         2      36.000
215829         5     178.375
215830         6     133.125
215831         6      60.125
215832         6      40.375
215833         6     103.375
215834         2      66.375
215835         6      39.000
215836         3      52.625
215837         2     154.000
215838         3      41.625
215839         6      43.125
215840         3     104.500

[15840 rows x 2 columns]